<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; E-Learning {{ 'now'|date('Y') }} </span>  <span class="text-danger">&hearts;</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->
